<!DOCTYPE html>
<html>
<meta charset="UTF-8">
	<head>
		<title>Projet jb Hotel</title>
		<link href="estilo.css" rel="stylesheet" type="text/css" />
		
		<script language="javascript" src="js/jquery-1.10.2.min.js"></script>
		<script language="javascript" src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
		<script language="javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
		
			<div class="row ei">
				<div class="coluna_menu">
					<div class="container_menu bordaArredondada">
					<img src="imgs/hotel-logo.jpg" width="249" height="190" alt="jb Hotel" />
						<a href="index.html">Pagina Inicial</a>
						<a href="interna.html">Quem Somos</a>
						<a href="interna.html">Nossos Produtos</a>
						<a href="interna.html">Localização</a>
						<a href="interna.html">Fale Conosco</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ate aqui funciona mas daqui pra baixo assim de que adiciono para de funcionar -->
		
		<div class="row ei">
				<div id="containerSlider">
					
					<div id="wrapper">
						<div id="images">
							<div class="carousel">
								<img src="imgs/slider/img01.jpg" alt="img1" width="925" height="295" alt="imga01" />
								<img src="imgs/slider/img02.jpg" alt="img2" width="925" height="295" alt="imga02" />
								<img src="imgs/slider/img03.jpg" alt="img3" width="925" height="295" alt="imga03" />
							</div>
						</div>
						<div id="timer"></div>
						<div id="captions">
							<div class="carousel">
								<div class="imga01">Imagem 01
									<div class="pager"></div>
								</div>
								<div class="imga02">Imagem 02
									<div class="pager"></div>
								</div>
								<div class="imga03">Imagem 03
									<div class="pager"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row ei">
				
				<div class="bordaArredondada divBordaCinzaVazada efeitoHover iconeInicial">
					<div class="marginInterna">
						<div class="icone"><img src="imgs/icone_fale_conoco.png" /></div>
						<div class="tituloIcone">Fale Conosco</div>
					</div>
				</div>
				<div class="bordaArredondada divBordaCinzaVazada efeitoHover iconeInicial">
					<div class="marginInterna">
						<div class="icone"><img src="imgs/icone_localizacao.png" /></div>
						<div class="tituloIcone">Localizacão</div>
					</div>
				</div>
				<div class="bordaArredondada divBordaCinzaVazada efeitoHover iconeInicial">
					<div class="marginInterna">
						<div class="icone"><img src="imgs/icone_galeria_de_fotos.png" /></div>
						<div class="tituloIcone">Galeria de Fotos</div>
					</div>
				</div>
				<div class="bordaArredondada divBordaCinzaVazada efeitoHover iconeInicial">
					<div class="marginInterna">
						<div class="icone"><img src="imgs/icone_redes_sociais.png" /></div>
						<div class="tituloIcone">Redes Sociais</div>
					</div>
				</div>
				
			</div>
			
			<div class="row ei">
			
				<div class="divBordaCinzaVazada bordaArredondada coluna_areaNoticias">
					<div class="marginInterna ">
						<div class="titulo ei">Noticias</div>
						
						<div class="fundoBrancoTransp ei">
							<div class="marginInterna">
								<p><a href="#">Titulo da noticia</a></p>
								<p>Breve descrição da noticia</p>
							</div>
						</div>
						
						<div class="fundoBrancoTransp ei">
							<div class="marginInterna">
								<p><a href="#">Titulo da noticia</a></p>
								<p>Breve descrição da noticia</p>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="coluna_areaProdutos">
					<div class="coluna_produto01 fundoBrancoTransp bordaArredondada ">
						<div class="marginInterna">
							<p>
								<center><img src="imgs/foto_produto.jpg" /></center>
							</p>
							<p align="center">
								<a href="#">Nome do Produto</a>
							</p>
						</div>
					</div>
					<div class="coluna_produto02 fundoBrancoTransp bordaArredondada">
						<div class="marginInterna">
							<p>
								<center><img src="imgs/foto_produto.jpg" /></center>
							</p>
							
							<p align="center">
								<a href="#">Nome do Produto</a>
							</p>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="row fundoBrancoTransp bordaArredondada rodape ei">
				Informação de rodapé
			</div>
	</body>
</html>