<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="estilo.css" rel="stylesheet" type="text/css" />
		<script language="javascript" src="js/jquery-1.10.2.min.js"></script>
		<script language="javascript" src="js/jquery.carouFredSel-6.2.0-packed.js"></script>
		<script language="javascript" src="js/main.js"></script>
</head>
<body>
	<div class="container">
		
			<!-- Cabeçalho -->
			<div class="row ei">
				<div class="coluna_logomarca">
					<img src="/imgs/hotel-logo.jpg" width="249" height="49" alt="Logomarca Hotel Devmedia" />
				</div>
				<div class="coluna_menu">
					<div class="container_menu bordaArredondada">
						<a href="home.html">Página Inicial</a>
						<a href="interna.html">Quem Somos</a>
						<a href="interna.html">Nossos Produtos</a>
						<a href="interna.html">Localização</a>
						<a href="interna.html">Fale Conosco</a>
					</div>
				</div>
			</div>
			<!-- // Cabeçalho -->
			
			<!-- Slider -->
			<div class="row ei">
				<div id="containerSlider">
					
					<div id="wrapper">
						<div id="images">
							<div class="carousel">
								<img src="/imgs/slider/img01.jpg" width="925" height="295" alt="imga01" />
								<img src="/imgs/slider/img02.jpg" width="925" height="295" alt="imga02" />
								<img src="/imgs/slider/img03.jpg" width="925" height="295" alt="imga03" />
							</div>
						</div>
						<div id="timer"></div>
						<div id="captions">
							<div class="carousel">
								<div class="imga01">Imagem 01
									<div class="pager"></div>
								</div>
								<div class="imga02">Imagem 02
									<div class="pager"></div>
								</div>
								<div class="imga03">Imagem 03
									<div class="pager"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Slider -->
						
			<!-- Conteudo -->
			<div class="row fundoBrancoTransp divBordaCinzaVazada bordaArredondada ei paginaInterna">
				<div class=" marginInterna">
					
					<h1 class="titulo">Titulo da pagina</h1>
					
					<p>
						<img src="/imgs/foto_produto.jpg" class="thumbnail"/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra semper nunc quis pretium. Morbi non convallis sapien. Donec in aliquet massa, et sollicitudin turpis. Duis ornare lectus vel turpis elementum, vitae cursus arcu volutpat. Quisque tincidunt nisi justo, quis dapibus velit tempus sit amet. Nullam consequat quam sem, aliquet tincidunt arcu aliquam quis. Proin lobortis mi enim, porta malesuada dolor egestas sit amet. Quisque ut risus id augue mollis ornare. Integer id pharetra tellus, in tincidunt lorem. Sed dignissim sodales mollis. Fusce in volutpat nisl. Duis vel commodo augue, sed ullamcorper nisl. Sed tincidunt porttitor quam eu imperdiet. Vivamus faucibus felis nec magna faucibus, vitae tempor mi gravida. Sed vel libero dolor. Donec mi libero, commodo et blandit vitae, scelerisque et nunc. 
					</p>
					<p>
						<img src="/imgs/foto_produto.jpg" class="thumbnail-right"/>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra semper nunc quis pretium. Morbi non convallis sapien. Donec in aliquet massa, et sollicitudin turpis. Duis ornare lectus vel turpis elementum, vitae cursus arcu volutpat. Quisque tincidunt nisi justo, quis dapibus velit tempus sit amet. Nullam consequat quam sem, aliquet tincidunt arcu aliquam quis. Proin lobortis mi enim, porta malesuada dolor egestas sit amet. Quisque ut risus id augue mollis ornare. Integer id pharetra tellus, in tincidunt lorem. Sed dignissim sodales mollis. Fusce in volutpat nisl. Duis vel commodo augue, sed ullamcorper nisl. Sed tincidunt porttitor quam eu imperdiet. Vivamus faucibus felis nec magna faucibus, vitae tempor mi gravida. Sed vel libero dolor. Donec mi libero, commodo et blandit vitae, scelerisque et nunc.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra semper nunc quis pretium. Morbi non convallis sapien. Donec in aliquet massa, et sollicitudin turpis. Duis ornare lectus vel turpis elementum, vitae cursus arcu volutpat. Quisque tincidunt nisi justo, quis dapibus velit tempus sit amet. Nullam consequat quam sem, aliquet tincidunt arcu aliquam quis. Proin lobortis mi enim, porta malesuada dolor egestas sit amet. Quisque ut risus id augue mollis ornare. Integer id pharetra tellus, in tincidunt lorem. Sed dignissim sodales mollis. Fusce in volutpat nisl. Duis vel commodo augue, sed ullamcorper nisl. Sed tincidunt porttitor quam eu imperdiet. Vivamus faucibus felis nec magna faucibus, vitae tempor mi gravida. Sed vel libero dolor. Donec mi libero, commodo et blandit vitae, scelerisque et nunc.
					</p>
				</div>
			</div>
			<!-- // Conteudo -->
			
			<!-- Rodapé -->
			<div class="row fundoBrancoTransp bordaArredondada rodape ei">
				Informação de rodapé
			</div>
			<!-- // Rodapé -->
			
		</div>
</body>
</html>